<a href="https://colab.research.google.com/github/mayankbrn/9.10_Driver_churn_ensemble_learning/blob/MA-working/10_Driver_churn_ensemble_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# About Project

![image.png]()

## Problem Statement

Recruiting and retaining drivers is seen by industry watchers as a tough battle for Ola. Churn among drivers is high and it’s very easy for drivers to stop working for the service on the fly or jump to competitor depending on the rates.

As the companies get bigger, the high churn could become a bigger problem. To find new drivers, Ola is casting a wide net, including people who don’t have cars for jobs. But this acquisition is really costly. Losing drivers frequently impacts the morale of the organization and acquiring new drivers is more expensive than retaining existing ones.

## Main Task

You are working as a data scientist with the Analytics Department of Ola, focused on driver team attrition. You are provided with the monthly information for a segment of drivers for 2019 and 2020 and tasked to predict whether a driver will be leaving the company or not based on their attributes like

Demographics (city, age, gender etc.)
Tenure information (joining date, Last Date)
Historical data regarding the performance of the driver (Quarterly rating, Monthly business acquired, grade, Income)

## Driver Dataset Documentation

### Fields:

1. **MMMM-YY : Reporting Date (Monthly)**  
   - Represents the monthly reporting period in `MMMM-YY` format.

2. **Driver_ID : Unique ID for drivers**  
   - A unique identifier assigned to each driver.

3. **Age : Age of the driver**  
   - Age of the driver in years.

4. **Gender : Gender of the driver**  
   - Encoded values:  
     - `0` : Male  
     - `1` : Female  

5. **City : City Code of the driver**  
   - Code representing the city where the driver is based.

6. **Education_Level : Education level**  
   - Encoded values:  
     - `0` : 10+  
     - `1` : 12+  
     - `2` : Graduate  

7. **Income : Monthly average income of the driver**  
   - Represents the driver's average monthly income.

8. **Date Of Joining : Joining date for the driver**  
   - The date when the driver joined.

9. **LastWorkingDate : Last date of working for the driver**  
   - The last working date recorded for the driver.

10. **Joining Designation : Designation of the driver at the time of joining**  
    - The job title/designation when the driver started.

11. **Grade : Grade of the driver at the time of reporting**  
    - The grade level assigned to the driver.

12. **Total Business Value : Total business value acquired by the driver in a month**  
    - The business value generated by the driver in a given month:  
      - Positive value indicates revenue.  
      - Negative value indicates cancellations, refunds, or car EMI adjustments.

13. **Quarterly Rating : Quarterly rating of the driver**  
    - Ratings range from `1` to `5` (higher is better).

## Concepts Tested

- Ensemble Learning- Bagging
- Ensemble Learning- Boosting
- KNN Imputation of Missing Values
- Working with an imbalanced dataset

## Data Analysis and Machine Learning Workflow

### Steps Overview

### 1. **Data Import and Initial Analysis**
   - Import the dataset and perform exploratory analysis steps such as:  
     - Checking the structure and characteristics of the dataset.
     - Understanding distributions and summary statistics.

### 2. **Data Preparation**
   - Convert date-like features to their respective data types.
   - Identify and handle missing values.  
     - Prepare data for **KNN Imputation** by considering only numerical features.
   - Aggregate data to remove multiple occurrences of the same driver's data:  
     - Start with an empty DataFrame containing unique `Driver_IDs`.
     - Use a **GroupBy Driver_ID** approach to bring all features to the same level (similar to Delhivery business case).

### 3. **Feature Engineering**
   - **Create New Columns:**  
     1. **Quarterly Rating Increase:**  
        - A column indicating whether the quarterly rating has increased for a driver (`1` for increased, `0` otherwise).
     2. **Target Variable:**  
        - A column (`target`) indicating whether the driver has left the company (`1` if `LastWorkingDate` is present, `0` otherwise).
     3. **Monthly Income Increase:**  
        - A column indicating whether the driver's monthly income has increased (`1` for increased, `0` otherwise).

### 4. **Statistical Summary**
   - Generate a statistical summary of the derived dataset.
   - Check the correlation among independent variables and analyze their interactions.

### 5. **Data Transformation**
   - Apply **One-Hot Encoding** for categorical variables.
   - Address **Class Imbalance** using appropriate techniques.
   - Standardize training data to ensure uniformity in feature scaling.

### 6. **Model Building**
   - Use **Ensemble Learning Methods** such as:
     - **Bagging** (e.g., Random Forest, Extra Trees).
     - **Boosting** (e.g., Gradient Boosting, XGBoost, LightGBM).
   - Perform **Hyperparameter Tuning** to optimize model performance.

### 7. **Results Evaluation**
   - Generate and evaluate performance met

## Problem Statement and Solution Workflow

---

### **1. Define Problem Statement and Perform Exploratory Data Analysis (10 Points)**

### **Problem Definition**
The goal is to analyze the provided driver dataset to derive insights, predict driver attrition, and understand factors influencing driver performance, income growth, and attrition. Additional views include understanding trends in driver ratings, income, and business contribution for decision-making.

### **Exploratory Data Analysis**

#### **Observations on Data**
1. **Shape of Data**: Note the number of rows and columns.  
2. **Data Types**: Identify and verify data types for all attributes. Convert categorical attributes to `category` data type if necessary.  
3. **Missing Value Detection**: Identify attributes with missing values for imputation.  
4. **Statistical Summary**: Calculate mean, median, standard deviation, and percentiles for numerical attributes.

#### **Univariate Analysis**
- **Continuous Variables**: Plot histograms or density plots to examine distributions (e.g., income, age, total business value).  
- **Categorical Variables**: Use barplots or countplots for attributes like `Gender`, `Education_Level`, and `Grade`.

#### **Bivariate Analysis**
- Examine relationships between variables such as:
  - `Age` vs `Income` (scatterplot).
  - `Quarterly Rating` vs `Total Business Value` (boxplot or line chart).
  - `Education_Level` vs `Income` (grouped barplot).

#### **Insights from EDA**
1. Comment on the range of attributes (e.g., age ranges, income brackets).  
2. Identify outliers using boxplots.  
3. Discuss distributions (e.g., skewness, normality).  
4. Highlight key relationships (e.g., how education level influences income).

#### **Comments for Each Plot**
- Univariate: Discuss skewness, peaks, and variability.
- Bivariate: Discuss strength, direction, and significance of relationships.

---

## **2. Data Preprocessing (50 Points)**

### **Steps:**

1. **KNN Imputation**  
   - Handle missing values using K-Nearest Neighbors based on numerical features.

2. **Feature Engineering**  
   - Create derived attributes:
     - **Quarterly Rating Increase**: Binary feature indicating a rating increase.
     - **Target**: Binary feature indicating driver attrition.
     - **Monthly Income Increase**: Binary feature indicating income growth.

3. **Class Imbalance Treatment**  
   - Apply SMOTE, undersampling, or oversampling to balance the target variable.

4. **Standardization**  
   - Standardize numerical features to ensure consistent scaling.

5. **Encoding**  
   - Apply one-hot encoding for categorical variables to make them model-compatible.

---

## **3. Model Building (20 Points)**

### **Algorithms:**
1. **Bagging Algorithm**  
   - Example: Random Forest to leverage bootstrapped datasets for robust performance.

2. **Boosting Algorithm**  
   - Example: Gradient Boosting (XGBoost, LightGBM) to focus on harder-to-predict samples.

### **Hyperparameter Tuning**  
- Use GridSearchCV or RandomizedSearchCV to optimize model parameters.

---

## **4. Results Evaluation (10 Points)**

1. **ROC AUC Curve**  
   - Plot the curve and comment on the model's ability to distinguish between classes.

2. **Classification Report**  
   - Generate a confusion matrix, along with precision, recall, F1-score, and accuracy metrics.

---

## **5. Actionable Insights & Recommendations (10 Points)**

### **Insights**
- Provide key findings on driver behavior, performance, and attrition.
- Highlight drivers' income growth and its correlation with other variables.

### **Recommendations**
- Propose actionable steps for reducing attrition, improving driver satisfaction, and optimizing operations.
- Suggest strategies for targeted interventions based on insights (e.g., reward systems for high performers).

# Solution

In [137]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings as war
war.filterwarnings('ignore')

In [138]:
!gdown 1eNcd23917r1QlTkl95pf3AF3OIEngw0d

Downloading...
From: https://drive.google.com/uc?id=1eNcd23917r1QlTkl95pf3AF3OIEngw0d
To: /content/10_ola_driver_scaler.csv
100% 1.13M/1.13M [00:00<00:00, 12.1MB/s]

In [139]:
df = pd.read_csv('10_ola_driver_scaler.csv')
df.head()

,Unnamed: 0,MMM-YY,Driver_ID,Age,Gender,City,Education_Level,Income,Dateofjoining,LastWorkingDate,Joining Designation,Grade,Total Business Value,Quarterly Rating
0,0,01/01/19,1,28.0,0.0,C23,2,57387,24/12/18,NaN,1,1,2381060,2
1,1,02/01/19,1,28.0,0.0,C23,2,57387,24/12/18,NaN,1,1,-665480,2
2,2,03/01/19,1,28.0,0.0,C23,2,57387,24/12/18,03/11/19,1,1,0,2
3,3,11/01/20,2,31.0,0.0,C7,2,67016,11/06/20,NaN,2,2,0,1
4,4,12/01/20,2,31.0,0.0,C7,2,67016,11/06/20,NaN,2,2,0,1

## Data Profiling

- MMMM-YY : Reporting Date (Monthly)
- Driver_ID : Unique id for drivers
- Age : Age of the driver
- Gender : Gender of the driver – Male : 0, Female: 1
- City : City Code of the driver
- Education_Level : Education level – 0 for 10+ ,1 for 12+ ,2 for graduate
- Income : Monthly average Income of the driver
- Date Of Joining : Joining date for the driver
- LastWorkingDate : Last date of working for the driver
- Joining Designation : Designation of the driver at the time of joining
- Grade : Grade of the driver at the time of reporting
- Total Business Value : The total business value acquired by the driver in a month (negative business indicates cancellation/refund or car EMI adjustments)
- Quarterly Rating : Quarterly rating of the driver: 1,2,3,4,5 (higher is better)

### Basic checks

In [140]:
df.columns

Index(['Unnamed: 0', 'MMM-YY', 'Driver_ID', 'Age', 'Gender', 'City',
       'Education_Level', 'Income', 'Dateofjoining', 'LastWorkingDate',
       'Joining Designation', 'Grade', 'Total Business Value',
       'Quarterly Rating'],
      dtype='object')

###

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19104 entries, 0 to 19103
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            19104 non-null  int64
 1   MMM-YY                19104 non-null  object
 2   Driver_ID             19104 non-null  int64
 3   Age                   19043 non-null  float64
 4   Gender                19052 non-null  float64
 5   City                  19104 non-null  object
 6   Education_Level       19104 non-null  int64
 7   Income                19104 non-null  int64
 8   Dateofjoining         19104 non-null  object
 9   LastWorkingDate       1616 non-null   object
 10  Joining Designation   19104 non-null  int64
 11  Grade                 19104 non-null  int64
 12  Total Business Value  19104 non-null  int64
 13  Quarterly Rating      19104 non-null  int64
dtypes: float64(2), int64(8), object(4)
memory usage: 2.0+ MB

- Reporting data is object type instead of date
- Date of Joining and last working date is also object instead of date type

In [142]:
df.isnull().sum()

Unnamed: 0                  0
MMM-YY                      0
Driver_ID                   0
Age                        61
Gender                     52
City                        0
Education_Level             0
Income                      0
Dateofjoining               0
LastWorkingDate         17488
Joining Designation         0
Grade                       0
Total Business Value        0
Quarterly Rating            0
dtype: int64

In [143]:
df.describe()

,Unnamed: 0,Driver_ID,Age,Gender,Education_Level,Income,Joining Designation,Grade,Total Business Value,Quarterly Rating
count,19104.000000,19104.000000,19043.000000,19052.000000,19104.000000,19104.000000,19104.000000,19104.000000,1.910400e+04,19104.000000
mean,9551.500000,1415.591133,34.668435,0.418749,1.021671,65652.025126,1.690536,2.252670,5.716621e+05,2.008899
std,5514.994107,810.705321,6.257912,0.493367,0.800167,30914.515344,0.836984,1.026512,1.128312e+06,1.009832
min,0.000000,1.000000,21.000000,0.000000,0.000000,10747.000000,1.000000,1.000000,-6.000000e+06,1.000000
25%,4775.750000,710.000000,30.000000,0.000000,0.000000,42383.000000,1.000000,1.000000,0.000000e+00,1.000000
50%,9551.500000,1417.000000,34.000000,0.000000,1.000000,60087.000000,1.000000,2.000000,2.500000e+05,2.000000
75%,14327.250000,2137.000000,39.000000,1.000000,2.000000,83969.000000,2.000000,3.000000,6.997000e+05,3.000000
max,19103.000000,2788.000000,58.000000,1.000000,2.000000,188418.000000,5.000000,5.000000,3.374772e+07,4.000000

In [144]:
df.describe(include = 'object')

          MMM-YY   City Dateofjoining LastWorkingDate
count      19104  19104         19104            1616
unique        24     29           869             493
top     01/01/19    C20      23/07/15        29/07/20
freq        1022   1008           192              70

In [145]:
df.shape[0]

19104

In [146]:
df['Driver_ID'].nunique()

2381

So for each driver there are multiple rows, let check them below

In [147]:
df['Driver_ID'].value_counts()

Driver_ID
2110    24
2617    24
1623    24
1642    24
1644    24
        ..
1614     1
445      1
2397     1
1619     1
469      1
Name: count, Length: 2381, dtype: int64

In [148]:
#Dropping tge Unnamed column, since it is not useful further
df.drop(columns = ['Unnamed: 0'], axis = 1, inplace = True)

In [149]:
df[df['Driver_ID']== 2110]

,MMM-YY,Driver_ID,Age,Gender,City,Education_Level,Income,Dateofjoining,LastWorkingDate,Joining Designation,Grade,Total Business Value,Quarterly Rating
14143,01/01/19,2110,36.0,0.0,C19,0,131847,21/01/16,NaN,5,5,0,1
14144,02/01/19,2110,36.0,0.0,C19,0,131847,21/01/16,NaN,5,5,0,1
14145,03/01/19,2110,37.0,0.0,C19,0,131847,21/01/16,NaN,5,5,0,1
14146,04/01/19,2110,37.0,0.0,C19,0,131847,21/01/16,NaN,5,5,0,1
14147,05/01/19,2110,37.0,0.0,C19,0,131847,21/01/16,NaN,5,5,0,1
14148,06/01/19,2110,37.0,0.0,C19,0,131847,21/01/16,NaN,5,5,0,1
14149,07/01/19,2110,37.0,0.0,C19,0,131847,21/01/16,NaN,5,5,0,1
14150,08/01/19,2110,37.0,0.0,C19,0,131847,21/01/16,NaN,5,5,0,1
14151,09/01/19,2110,37.0,0.0,C19,0,131847,21/01/16,NaN,5,5,0,1
14152,10/01/19,2110,37.0,0.0,C19,0,131847,21/01/16,NaN,5,5,0,1
14153,11/01/19,2110,37.0,0.0,C19,0,131847,21/01/16,NaN,5,5,923600,1
14154,12/01/19,2110,37.0,0.0,C19,0,131847,21/01/16,NaN,5,5,407000,1
14155,01/01/20,2110,37.0,0.0,C19,0,131847,21/01/16,NaN,5,5,1060560,2
14156,02/01/20,2110,37.0,0.0,C19,0,131847,21/01/16,NaN,5,5,1779250,2
14157,03/01/20,2110,38.0,0.0,C19,0,131847,21/01/16,NaN,5,5,8947330,2
14158,04/01/20,2110,38.0,0.0,C19,0,131847,21/01/16,NaN,5,5,1479180,2
14159,05/01/20,2110,38.0,0.0,C19,0,131847,21/01/16,NaN,5,5,400730,2
14160,06/01/20,2110,38.0,0.0,C19,0,131847,21/01/16,NaN,5,5,500000,2
14161,07/01/20,2110,38.0,0.0,C19,0,131847,21/01/16,NaN,5,5,451340,2
14162,08/01/20,2110,38.0,0.0,C19,0,131847,21/01/16,NaN,5,5,800810,2
14163,09/01/20,2110,38.0,0.0,C19,0,131847,21/01/16,NaN,5,5,1208970,2
14164,10/01/20,2110,38.0,0.0,C19,0,131847,21/01/16,NaN,5,5,948000,1
14165,11/01/20,2110,38.0,0.0,C19,0,131847,21/01/16,NaN,5,5,560730,1
14166,12/01/20,2110,38.0,0.0,C19,0,131847,21/01/16,NaN,5,5,719650,1

From above we can see that there are 24 rows for the same driver, each line for each reporting month from Jan-2019 to Dec-2020. No of row in a way represents no of months driver is with the company.

### Changing column data types

In [150]:
df["MMM-YY"] = pd.to_datetime(df["MMM-YY"])
df["Dateofjoining"] = pd.to_datetime(df["Dateofjoining"])
df["LastWorkingDate"] = pd.to_datetime(df["LastWorkingDate"])

In [151]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19104 entries, 0 to 19103
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   MMM-YY                19104 non-null  datetime64[ns]
 1   Driver_ID             19104 non-null  int64
 2   Age                   19043 non-null  float64
 3   Gender                19052 non-null  float64
 4   City                  19104 non-null  object
 5   Education_Level       19104 non-null  int64
 6   Income                19104 non-null  int64
 7   Dateofjoining         19104 non-null  datetime64[ns]
 8   LastWorkingDate       1616 non-null   datetime64[ns]
 9   Joining Designation   19104 non-null  int64
 10  Grade                 19104 non-null  int64
 11  Total Business Value  19104 non-null  int64
 12  Quarterly Rating      19104 non-null  int64
dtypes: datetime64[ns](3), float64(2), int64(7), object(1)
memory usage: 1.9+ MB

### KNN Imputation

In [152]:
# KNN imputation will ony work on the numeric columns for missing value treatment
df_num_cols = df.select_dtypes(['int', 'float']) # data frame with only numeric columns
df_num_cols.head()

,Driver_ID,Age,Gender,Education_Level,Income,Joining Designation,Grade,Total Business Value,Quarterly Rating
0,1,28.0,0.0,2,57387,1,1,2381060,2
1,1,28.0,0.0,2,57387,1,1,-665480,2
2,1,28.0,0.0,2,57387,1,1,0,2
3,2,31.0,0.0,2,67016,2,2,0,1
4,2,31.0,0.0,2,67016,2,2,0,1

In [153]:
from sklearn.impute import KNNImputer

# Initializing the imputer
Imputer = KNNImputer(n_neighbors= 5, weights = 'uniform', metric = 'nan_euclidean')
# Fitting the imputer on the data
df_new = Imputer.fit_transform(df_num_cols)
df_new = pd.DataFrame(df_new, columns = df_num_cols.columns)
df_new.isnull().sum()

Driver_ID               0
Age                     0
Gender                  0
Education_Level         0
Income                  0
Joining Designation     0
Grade                   0
Total Business Value    0
Quarterly Rating        0
dtype: int64

df_new only consist the numeric columns, we need to merge this with data with categorical & datetime columns

In [154]:
#getting all other columns
# passing both df and df_num_cols dataframe below to get the remaining columns
res = list(set(df).difference(set(df_num_cols)))
res

['MMM-YY', 'Dateofjoining', 'City', 'LastWorkingDate']

In [155]:
df_other_cols = df[res] # data frame without the nueric columns
df_other_cols.head()

      MMM-YY Dateofjoining City LastWorkingDate
0 2019-01-01    2018-12-24  C23             NaT
1 2019-02-01    2018-12-24  C23             NaT
2 2019-03-01    2018-12-24  C23      2019-03-11
3 2020-11-01    2020-11-06   C7             NaT
4 2020-12-01    2020-11-06   C7             NaT

In [156]:
# creating new df after KNN imputation
df_new = pd.concat([df_new, df_other_cols], axis = 1)
df_new.head()

,Driver_ID,Age,Gender,Education_Level,Income,Joining Designation,Grade,Total Business Value,Quarterly Rating,MMM-YY,Dateofjoining,City,LastWorkingDate
0,1.0,28.0,0.0,2.0,57387.0,1.0,1.0,2381060.0,2.0,2019-01-01,2018-12-24,C23,NaT
1,1.0,28.0,0.0,2.0,57387.0,1.0,1.0,-665480.0,2.0,2019-02-01,2018-12-24,C23,NaT
2,1.0,28.0,0.0,2.0,57387.0,1.0,1.0,0.0,2.0,2019-03-01,2018-12-24,C23,2019-03-11
3,2.0,31.0,0.0,2.0,67016.0,2.0,2.0,0.0,1.0,2020-11-01,2020-11-06,C7,NaT
4,2.0,31.0,0.0,2.0,67016.0,2.0,2.0,0.0,1.0,2020-12-01,2020-11-06,C7,NaT

In [157]:
df_new.isnull().sum()

Driver_ID                   0
Age                         0
Gender                      0
Education_Level             0
Income                      0
Joining Designation         0
Grade                       0
Total Business Value        0
Quarterly Rating            0
MMM-YY                      0
Dateofjoining               0
City                        0
LastWorkingDate         17488
dtype: int64

There are still Null values in LastWorkingDate, missing value here means person had not left

In [158]:
df_new.head()

,Driver_ID,Age,Gender,Education_Level,Income,Joining Designation,Grade,Total Business Value,Quarterly Rating,MMM-YY,Dateofjoining,City,LastWorkingDate
0,1.0,28.0,0.0,2.0,57387.0,1.0,1.0,2381060.0,2.0,2019-01-01,2018-12-24,C23,NaT
1,1.0,28.0,0.0,2.0,57387.0,1.0,1.0,-665480.0,2.0,2019-02-01,2018-12-24,C23,NaT
2,1.0,28.0,0.0,2.0,57387.0,1.0,1.0,0.0,2.0,2019-03-01,2018-12-24,C23,2019-03-11
3,2.0,31.0,0.0,2.0,67016.0,2.0,2.0,0.0,1.0,2020-11-01,2020-11-06,C7,NaT
4,2.0,31.0,0.0,2.0,67016.0,2.0,2.0,0.0,1.0,2020-12-01,2020-11-06,C7,NaT

### Aggregating by Driver ID

In [159]:
import pandas as pd
import numpy as np

# Assuming 'df' is your DataFrame
df_mod = df_new.groupby('Driver_ID').aggregate({
    'Age': 'max',  # Maximum age
    'Gender': lambda x: x.unique()[0] if len(x.unique()) == 1 else x.unique().tolist(),  # Unique gender values
    'Education_Level': 'max',  # Highest education level
    'Income': 'mean',  # Average income
    'Joining Designation': 'last', #last joining designation
    'Grade': 'last', #last grade
    'Total Business Value': 'sum',  # Total business value
    'Quarterly Rating': 'mean',  # Average quarterly rating
    'LastWorkingDate': 'last',  # Most recent working date
    'MMM-YY': 'size',  # Count of records (number of months)
    'City': lambda x: x.unique()[0] if len(x.unique()) == 1 else x.unique().tolist(),  # Unique cities
    'Dateofjoining': lambda x: x.unique()[0] if len(x.unique()) == 1 else x.unique().tolist(),  # Unique joining dates
}).reset_index()
df_mod.head()

,Driver_ID,Age,Gender,Education_Level,Income,Joining Designation,Grade,Total Business Value,Quarterly Rating,LastWorkingDate,MMM-YY,City,Dateofjoining
0,1.0,28.0,0.0,2.0,57387.0,1.0,1.0,1715580.0,2.0,2019-03-11,3,C23,2018-12-24
1,2.0,31.0,0.0,2.0,67016.0,2.0,2.0,0.0,1.0,NaT,2,C7,2020-11-06
2,4.0,43.0,0.0,2.0,65603.0,2.0,2.0,350000.0,1.0,2020-04-27,5,C13,2019-12-07
3,5.0,29.0,0.0,0.0,46368.0,1.0,1.0,120360.0,1.0,2019-03-07,3,C9,2019-01-09
4,6.0,31.0,1.0,1.0,78728.0,3.0,3.0,1265000.0,1.6,NaT,5,C11,2020-07-31

In [160]:
# renaming the columns in df
df_mod = df_mod.rename(columns = {'MMM-YY': 'Months',
                                  'Education_Level': 'Education',
                                  'Joining Designation': 'Joining_Designation',
                                  'Total Business Value' : 'Total_Business_Value',
                                  'Quarterly Rating' : 'Quarterly_Rating'
                                  })
df_mod.head()

,Driver_ID,Age,Gender,Education,Income,Joining_Designation,Grade,Total_Business_Value,Quarterly_Rating,LastWorkingDate,Months,City,Dateofjoining
0,1.0,28.0,0.0,2.0,57387.0,1.0,1.0,1715580.0,2.0,2019-03-11,3,C23,2018-12-24
1,2.0,31.0,0.0,2.0,67016.0,2.0,2.0,0.0,1.0,NaT,2,C7,2020-11-06
2,4.0,43.0,0.0,2.0,65603.0,2.0,2.0,350000.0,1.0,2020-04-27,5,C13,2019-12-07
3,5.0,29.0,0.0,0.0,46368.0,1.0,1.0,120360.0,1.0,2019-03-07,3,C9,2019-01-09
4,6.0,31.0,1.0,1.0,78728.0,3.0,3.0,1265000.0,1.6,NaT,5,C11,2020-07-31

## Faeture Engineering

### Quaterly Rating Increase

whether the quarterly rating has increased for that driver -for those whose quarterly rating has increased we assign the value 1

In [161]:
df.columns

Index(['MMM-YY', 'Driver_ID', 'Age', 'Gender', 'City', 'Education_Level',
       'Income', 'Dateofjoining', 'LastWorkingDate', 'Joining Designation',
       'Grade', 'Total Business Value', 'Quarterly Rating'],
      dtype='object')

In [162]:
def quarter_rating_increase(rating):
  if len(rating) >= 2: #if the lines for that driver is greater or equal to 2
    return int(rating.iloc[-1] > rating.iloc[-2]) # comparing the last rating for that driver with previous one
  else:
    return 0

Quarterly_Rating_increased = df.groupby('Driver_ID')['Quarterly Rating'].apply(quarter_rating_increase).reset_index(name='Quarterly_Rating_increased')

'''
After the apply() function, the result is a pandas Series with:

Index: The Driver_ID (from the groupby operation).
Values: The results of the qrt_rat_inc function (0 or 1 for each Driver_ID).
When you use .reset_index(), it converts this Series back into a DataFrame:

The original index (Driver_ID) becomes a column.
The resulting values (0 or 1) also become a column.
By specifying name='Quarterly_Rating_increased', you are naming this new column for the function results.
'''

df_final = pd.merge(left = df_mod,
                    right = Quarterly_Rating_increased,
                    on = 'Driver_ID',
                    how = 'outer' #to inlcude all the rows from the both dataframes
                    )

df_final['Quarterly_Rating_increased'].value_counts(normalize = True)*100

Quarterly_Rating_increased
0    99.328013
1     0.671987
Name: proportion, dtype: float64

- less than 1% of the drivers have shown the increase in quaterly ratings.

In [163]:
df_final.head()

,Driver_ID,Age,Gender,Education,Income,Joining_Designation,Grade,Total_Business_Value,Quarterly_Rating,LastWorkingDate,Months,City,Dateofjoining,Quarterly_Rating_increased
0,1.0,28.0,0.0,2.0,57387.0,1.0,1.0,1715580.0,2.0,2019-03-11,3,C23,2018-12-24,0
1,2.0,31.0,0.0,2.0,67016.0,2.0,2.0,0.0,1.0,NaT,2,C7,2020-11-06,0
2,4.0,43.0,0.0,2.0,65603.0,2.0,2.0,350000.0,1.0,2020-04-27,5,C13,2019-12-07,0
3,5.0,29.0,0.0,0.0,46368.0,1.0,1.0,120360.0,1.0,2019-03-07,3,C9,2019-01-09,0
4,6.0,31.0,1.0,1.0,78728.0,3.0,3.0,1265000.0,1.6,NaT,5,C11,2020-07-31,0

### Target

Binary feature indicating driver attrition.

In [164]:
# Replace NaN values with 0 in LastWorkingDate column
df_final['LastWorkingDate'].fillna(0, inplace=True)

# Convert LastWorkingDate to numeric type to ensure correct comparison
df_final['LastWorkingDate'] = pd.to_numeric(df_final['LastWorkingDate'], errors='coerce')

# Define the churn function
def churn(data):
    if data == 0:
        return 0
    else:
        return 1 # 1 means the driver left the company

# Apply the churn function
df_final['Churn'] = df_final['LastWorkingDate'].apply(churn)

# Check the distribution of churn values
print(df_final['Churn'].value_counts())

Churn
1    1616
0     765
Name: count, dtype: int64

So basically 765 such driver who didn't left the company.

### Monthly Income Increase

Binary feature indicating income growth.

In [165]:
# function to check whether monthly income increased or not
def income_increase(income):
  if len(income) >=2:
    return int(income.iloc[-1] > income.iloc[-2]) # checking whether latest income is higher than the previous income level
  else:
    0

# using the original df to compare the increase in the income level
Increased_Income = df.groupby('Driver_ID')['Income'].apply(income_increase).reset_index(name = 'Increased_Income')

# merging this dataframe with the df_final
df_final = pd.merge(left = df_final,
                    right = Increased_Income,
                    on = 'Driver_ID',
                    how = 'outer')

df_final['Increased_Income'].value_counts(normalize = True)*100

Increased_Income
0.0    99.5
1.0     0.5
Name: proportion, dtype: float64

- only 0.5 % of driver shown the increase in the income levels. That is concerning.

In [166]:
df_final.head()

,Driver_ID,Age,Gender,Education,Income,Joining_Designation,Grade,Total_Business_Value,Quarterly_Rating,LastWorkingDate,Months,City,Dateofjoining,Quarterly_Rating_increased,Churn,Increased_Income
0,1.0,28.0,0.0,2.0,57387.0,1.0,1.0,1715580.0,2.0,NaN,3,C23,2018-12-24,0,1,0.0
1,2.0,31.0,0.0,2.0,67016.0,2.0,2.0,0.0,1.0,0.0,2,C7,2020-11-06,0,0,0.0
2,4.0,43.0,0.0,2.0,65603.0,2.0,2.0,350000.0,1.0,NaN,5,C13,2019-12-07,0,1,0.0
3,5.0,29.0,0.0,0.0,46368.0,1.0,1.0,120360.0,1.0,NaN,3,C9,2019-01-09,0,1,0.0
4,6.0,31.0,1.0,1.0,78728.0,3.0,3.0,1265000.0,1.6,0.0,5,C11,2020-07-31,0,0,0.0

### Statistical Summary

In [167]:
df_final['Churn'].value_counts(normalize = True)*100

Churn
1    67.870643
0    32.129357
Name: proportion, dtype: float64

This shows that 67% drivers left the company, which is very high.

In [168]:
df_final.describe().T

,count,mean,min,25%,50%,75%,max,std
Driver_ID,2381.0,1397.559009,1.0,695.0,1400.0,2100.0,2788.0,806.161628
Age,2381.0,33.770265,21.0,30.0,33.0,37.0,58.0,5.932235
Education,2381.0,1.00756,0.0,0.0,1.0,2.0,2.0,0.81629
Income,2381.0,59232.460484,10747.0,39104.0,55285.0,75835.0,188418.0,28298.214012
Joining_Designation,2381.0,1.820244,1.0,1.0,2.0,2.0,5.0,0.841433
Grade,2381.0,2.096598,1.0,1.0,2.0,3.0,5.0,0.941522
Total_Business_Value,2381.0,4586741.822764,-1385530.0,0.0,817680.0,4173650.0,95331060.0,9127115.313446
Quarterly_Rating,2381.0,1.566304,1.0,1.0,1.0,2.0,4.0,0.719652
LastWorkingDate,765.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Months,2381.0,8.02352,1.0,3.0,5.0,10.0,24.0,6.78359
Dateofjoining,2381,2019-02-08 07:14:50.550189056,2013-04-01 00:00:00,2018-06-29 00:00:00,2019-07-21 00:00:00,2020-05-02 00:00:00,2020-12-28 00:00:00,NaN
Quarterly_Rating_increased,2381.0,0.00672,0.0,0.0,0.0,0.0,1.0,0.081716
Churn,2381.0,0.678706,0.0,0.0,1.0,1.0,1.0,0.467071
Increased_Income,2200.0,0.005,0.0,0.0,0.0,0.0,1.0,0.07055

- The 'Driver_ID' column shows an unique count 2381.
- The average age of drivers is around 33 years, with a minimum age of 21 years and a maximum age of 58 years.
- The average income of drivers is approximately 59,232, with a wide range from 10,747 to 188,418.
- The 'Total_Business_Value' column has a significant range, with values ranging from negative to extremely high positive values, suggesting variations in business performance among drivers.
- Avg months is 8 months, that is the avg time for which Ola is able to retain the driver in the company, 1 being the lowest and 2 years being the highest.

In [172]:
df_final['Education'].value_counts(normalize = True)*100

Education
2.0    33.683326
1.0    33.389332
0.0    32.927341
Name: proportion, dtype: float64

- Almost 33% of the drivers are graduates.

## Univariate Analysis